<h3> Seat Configuration</h3>
<div class="field form-group">
  <div class="row">
    <div class="col-sm-4">  
      <%= f.label "seat_class" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :name , class: "form-control"%>
    </div>
  </div>
</div>
<div class="field form-group">
  <div class="row">
    <div class="col-sm-4">  
      <%= f.label "seat_price" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :seat_price , class: "form-control"%>
    </div>
  </div>
</div>
<div class="field form-group">
  <div class="row">
    <div class="col-sm-4">  
      <%= f.label "seats" %>
    </div>
    <div class="col-sm-8">
      <%= f.number_field :seats, class: "form-control" %>
    </div>
  </div>
</div>
<div class="field form-group">
  <div class="row">
    <div class="col-sm-4">  
      <%= f.label "Number of rows" %>
    </div>
    <div class="col-sm-8">
      <%= f.number_field :number_of_rows, class: "form-control" %>
    </div>
  </div>
</div>
<div class="field form-group">
  <div class="row">
    <div class="col-sm-4">  
      <%= f.label "Row seats" %>
    </div>
    <div class="col-sm-8">
      <%= f.number_field :row_seats, class: "form-control" %>
    </div>
  </div>
</div>
    <%#= link_to_remove_association "Delete", f %>
