<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h2>Book a Flight</h2></div>
      <div class="card-body">
				<%=form_for @booking do |f|%>
				<div class="field form-group">
          <div class="row">
           	<div class="col-sm-4">
           		<%=f.label 'name' %>:
           	</div>
           	<div class="col-sm-8">
							<%=f.text_field :name , class: "form-control" %>
						</div>
					</div>
				</div>
				<%= f.hidden_field 'flight', :value => params[:flight] %>
    		<div class="field form-group">
          <div class="row">
           	<div class="col-sm-4">
           		<%=f.label 'age' %>:
           	</div>
           	<div class="col-sm-8">
							<%=f.number_field :age , class: "form-control" %>
						</div>
					</div>
				</div>
				<div class="field form-group">
          <div class="row">
           	<div class="col-sm-4">
           		<%=f.label 'seat'%>
           	</div>
           	<div class="col-sm-8">
							<%=f.number_field :seat, class: "form-control"%>
						</div>
					</div>
				</div>

				<div class="field form-group">
          <div class="row">
           	<div class="col-sm-4">
							<%=f.label 'seat_class'%>
						</div>
					  <div class="col-sm-8">
							<%=f.text_field :seat_class, class: "form-control"%>
						</div>
					</div>
				</div>
				<div class="field form-group">
          <div class="row justify-content-md-center">
          	<%= f.submit%>
          </div>
        </div>

		<%end%>